/* NAVBAR */
header {
    display: flex;
    height: 64px;
}

header img {
    margin-left: 24px;
}

nav {
    text-align: right;
}

/* BANNER */
main {
    background-color: #d8d8d8;
    display: flex;
    color: #4a4a4a;
}

main img {
    width: 60%;
    margin: 32px 24px;
}

button {
    color: white;
background: #4a4a4a;
border: 0;
padding: 8px 16px;
}