/* UNIVERSAL */
body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
}
/* NAVBAR */
header {
    display: flex;
    height: 64px;
    width: 100%;
    margin-top: 0;
}

header img {
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header p {
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}

header span {
    font-weight: normal;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 16px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
}

nav ul li a {
    color: #4a4a4a;
    text-decoration: none;
}

/* BANNER */
main {
    background-color: #d8d8d8;
    display: flex;
    color: #4a4a4a;
}

main img {
    width: 60%;
    margin: 32px 24px;
    background-size: cover;
}

#banner {
    width: 400px;
    height: auto; 
    padding-top: 200px;
}

#banner h1 {
    font-size: 45px;
}

#banner h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 30px 0;
}

button {
    width: 100%;
    color: white;
    background: #4a4a4a;
    border: 0;
    padding: 8px 50px;
    align-content: center;
}

/* KEEP PRACTICING */
.white-block {
    background-color: #f3f5f5;
    display: flex;
    color: #4a4a4a;
    margin-bottom: 0;
}

.white-block .img-block {
    width: 60%;
    margin-bottom: 32px;
}

.white-block .img-block img {
    width: 100%;
    margin: 32px 24px 0 24px;
}

.white-block a {
    color: #4a90e2;
    text-decoration: none;
}

.white-block .wh-words {
    margin-left: 24px;
}

.white-block .wh-words h2 {
    font-size: 40px;
}

.white-block .wh-words p {
    font-size: 22px;
    font-weight: lighter;
}

.white-block .wh-words span {
    font-size: 18px;
}

#block-long {
    width: 40%;
    margin-left: 50px;
}

.block-long-up {
    display: flex;
    border: solid 1px #e0e2e2;
    padding:32px 16px 16px 16px;
}

.img {
    height: auto;
    width: 35%;
    background-size: cover;
}

.block-long {
    display: flex;
    border: solid 1px #e0e2e2;
    padding: 16px;
}

.block-long .words {
    display: block;
    padding-top: 30px;
    margin-left: 16px;
}

.block-long-up .words {
    display: block;
    padding-top: 30px;
    margin-left: 16px;
}

/* START LEARNING */
#start-learning {
    background-color: #eaebec;
    color: #4a4a4a;
    margin-top: 0;
}

#start-learning h2 {
    padding: 32px 0;
    text-align: center;
}

#start-learning img {
    height: auto;
}

.parent-block {
    display: flex;
    margin-bottom: 32px;
}

.block-left {
    margin-left: 72px;
}

.block-center {
    margin: 0 32px;
}

.block-white {
    background: #f3f5f5;
    background-color: #fafafa;
    padding-left: 16px;
}

.block-white h5 {
    color: #4a4a4a;
    padding-top: 16px;
    margin-top: 0;
}

.block-white h6 {
    color: #767676;
    margin: 8px 0;
}

.block-white p {
    color: #767676;
    margin: 8px 0;
    padding-bottom: 24px; 
}

/* THESIS EXHIBIT */

#thesis h3 {
    text-align: center;
}

#thesis-block {
    display: flex;
}

#thesis video {
    width: 60%;
    margin: 24px;
}

/* FOOTER */
footer {
    color: #4a4a4a;
    border-top: solid #dfe1e1;
    display: flex;
    width: 100%;
}

footer p {
    margin: 16px 0 0 24px;
}

footer a {
    margin: 16px 24px 0 0;
}